@use "../base/breakpoints" as *;

.crew-bg-img {
	background-image: url("../../images/crew/background-crew-mobile.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	@include media(">=tablet") {
		background-image: url("../../images/crew/background-crew-tablet.jpg");
	}

	@include media(">=desktop") {
		background-image: url("../../images/crew/background-crew-desktop.jpg");
	}
}

.crew {
	@include media(">=tablet") {
		margin: 2rem 2rem 0;
	}

	@include media(">=desktop") {
		margin: 2rem 0 0;
	}

	&__main {
		@include media(">=tablet") {
			display: flex;
			flex-direction: column-reverse;
		}
		@include media(">=desktop") {
			display: flex;
			flex-direction: row-reverse;
		}
	}

	&__subheading {
		display: flex;
		justify-content: center;

		@include media(">=tablet") {
			justify-content: flex-start;
			margin: 2rem;
		}

		@include media(">=desktop") {
			margin: 2rem 10rem 0;
		}

		.page-number {
			margin-right: 1rem;
			opacity: 0.25;
			font-weight: bold;
			letter-spacing: 2.7px;
			color: rgb(255, 255, 255);

			@include media(">=tablet") {
				font-size: 1.25rem;
				letter-spacing: 3.375px;
			}

			@include media(">=desktop") {
				font-size: 1.75rem;
				letter-spacing: 4.725px;
			}
		}

		.subheading {
			text-transform: uppercase;
			letter-spacing: 2.7px;
			color: rgb(255, 255, 255);

			@include media(">=tablet") {
				font-size: 1.25rem;
				letter-spacing: 3.375px;
			}

			@include media(">=desktop") {
				font-size: 1.75rem;
				letter-spacing: 4.725px;
			}
		}
	}
	&__content {
		@include media(">=desktop") {
			display: flex;
			flex-direction: column-reverse;
			justify-content: center;
			gap: 5rem;
			margin-left: 10rem;
		}
	}

	&__member-img {
		display: flex;
		justify-content: center;
		margin: 1rem 1.5rem 0;
		height: 223px;
		border-bottom: 1px solid var(--gray-blue-color);

		@include media(">=tablet") {
			height: 100%;
			border-bottom: 0px;
		}

		@include media(">=desktop") {
			margin: 0;
		}

		.hurley {
			margin-left: 1rem;
			width: 177px;

			@include media(">=tablet") {
				margin-left: 2.5rem;
				width: 410px;
			}

			@include media(">=desktop") {
				margin-right: 5rem;
				width: 480px;
			}

			@include media(">=LGdesktop") {
				margin-right: 15rem;
				width: 520px;
			}
		}

		.shuttleworth {
			width: 154px;

			@include media(">=tablet") {
				margin-top: 1rem;
				width: 368px;
			}

			@include media(">=desktop") {
				margin-right: 7rem;
				width: 440px;
			}

			@include media(">=LGdesktop") {
				margin-right: 20rem;
			}
		}

		.glover {
			width: 181px;

			@include media(">=tablet") {
				margin-top: 1rem;
				width: 433px;
			}

			@include media(">=desktop") {
				margin-right: 5rem;
				width: 520px;
			}

			@include media(">=LGdesktop") {
				margin-right: 20rem;
			}
		}

		.ansari {
			width: 226px;

			@include media(">=tablet") {
				margin-top: 1rem;
				width: 433px;
			}

			@include media(">=desktop") {
				margin-right: 2rem;
				width: 590px;
			}

			@include media(">=LGdesktop") {
				margin-right: 15rem;
			}
		}
	}

	&__navigation {
		display: flex;
		justify-content: center;
		margin: 2rem 0 1.5rem;
		gap: 1.75rem;

		@include media(">=desktop") {
			justify-content: start;
		}

		&-slider {
			height: 12px;
			width: 12px;
			background: rgb(255, 255, 255, 0.25);
			border-radius: 50%;

			@include media(">=desktop") {
				height: 15px;
				width: 15px;
				transition: background-color 0.5s ease;

				&:hover:not(.crew__navigation-slider--active) {
					cursor: pointer;
					background: rgb(255, 255, 255, 0.5);
				}
			}

			&--active {
				background: rgb(255, 255, 255, 1);
			}
		}
	}

	&__heading {
		text-align: center;

		@include media(">=desktop") {
			text-align: start;
		}
		h2 {
			opacity: 0.5;
			font-weight: normal;
			text-transform: uppercase;
			font-size: 1rem;

			@include media(">=tablet") {
				font-size: 1.5rem;
			}

			@include media(">=desktop") {
				font-size: 2rem;
			}
		}

		h1 {
			margin: 0;
			font-weight: normal;
			text-transform: uppercase;
			font-size: 1.5rem;

			@include media(">=tablet") {
				font-size: 2.5rem;
			}

			@include media(">=desktop") {
				font-size: 3.5rem;
			}
		}
	}

	&__body {
		width: 90%;
		text-align: center;

		@include media(">=tablet") {
			width: 65%;
			text-align: start;
		}

		@include media(">=desktop") {
			width: 70%;
		}

		@include media(">=LGdesktop") {
			width: 60%;
		}

		.body {
			font-size: 0.975rem;
			line-height: 25px;

			@include media(">=tablet") {
				font-size: 1rem;
				line-height: 28px;
			}

			@include media(">=desktop") {
				font-size: 1.125rem;
				line-height: 32px;
			}
		}
	}
}

.hurley,
.ansari,
.glover,
.shuttleworth {
	display: flex;
	flex-direction: column;
	align-items: center;

	@include media(">=desktop") {
		align-items: start;
	}
}
