@use "../base/breakpoints" as *;

.homepage-bg-img {
	background-image: url("../../assets/images/homepage/background-home-mobile.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	@include media(">=tablet") {
		background-image: url("../../assets/images/homepage/background-home-tablet.jpg");
	}

	@include media(">=desktop") {
		background-image: url("../../assets/images/homepage/background-home-desktop.jpg");
	}
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0 1.5rem;

	@include media(">=tablet") {
		margin-top: 6rem;
	}

	@include media(">=desktop") {
		flex-direction: row;
		margin: 7rem 10.5rem 0;
		gap: 25rem;
	}

	@include media(">=LGdesktop") {
		margin: 10rem 10.5rem 0;
	}

	&__main {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include media(">=desktop") {
			align-items: flex-start;
		}
	}

	&__subheading {
		height: 80px;

		.subheading {
			margin: 0;
			text-transform: uppercase;
			line-height: 100px;
			letter-spacing: 2.7px;

			@include media(">=tablet") {
				font-size: 1.25rem;
				letter-spacing: 3.375px;
			}

			@include media(">=desktop") {
				font-size: 1.6rem;
				letter-spacing: 4.725px;
			}

			@include media(">=LGdesktop") {
				font-size: 1.75rem;
				letter-spacing: 4.725px;
			}
		}
	}

	&__heading {
		.heading {
			margin: 0;
			font-weight: normal;
			text-transform: uppercase;
			font-size: 5rem;

			@include media(">=tablet") {
				font-size: 9.375rem;
			}

			@include media(">=desktop") {
				font-size: 9rem;
			}

			@include media(">=LGdesktop") {
				font-size: 9.375rem;
			}
		}
	}

	&__body {
		margin-top: 0.75rem;

		.body {
			text-align: center;
			font-size: 0.9375rem;
			line-height: 25px;

			@include media(">=tablet") {
				width: 55vw;
				margin-top: 0;
				font-size: 1rem;
				line-height: 28px;
			}

			@include media(">=desktop") {
				width: 30vw;
				text-align: left;
				font-size: 1.125rem;
			}

			@include media(">=LGdesktop") {
				width: 25vw;
			}
		}
	}

	&__explore {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 4rem;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		background: rgb(255, 255, 255);

		@include media(">=tablet") {
			margin: 7.5rem 0 4rem;
			width: 242px;
			height: 242px;
		}

		@include media(">=desktop") {
			margin-top: 3rem;
			width: 274px;
			height: 274px;

			&::before {
				content: "";
				position: absolute;
				width: 274px;
				height: 274px;
				border-radius: 50%;
				background: rgba(255, 255, 255, 0.1);
				z-index: -1;
				transition: transform 0.4s ease-out;
			}
			&:hover::before {
				transform: scale(1.6);
			}
		}

		@include media(">=LGdesktop") {
			margin-left: 15rem;
		}

		.heading {
			font-weight: normal;
			text-transform: uppercase;
			font-size: 1.25rem;
			letter-spacing: 1.25px;
			color: var(--dark-blue-color);

			@include media(">=tablet") {
				font-size: 2rem;
				letter-spacing: 2px;
			}
		}
	}
}
