@use "../base/breakpoints" as *;

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.5rem 1.5rem 0.3rem;

	@include media(">=tablet") {
		margin: 0 0 0 2rem;
	}

	@include media(">=desktop") {
		margin: 3rem 0 0 3.5rem;
	}

	&__logo {
		width: 40px;

		@include media(">=tablet") {
			width: 48px;
		}
	}

	&-decoration {
		@include media(">=desktop") {
			position: absolute;
			width: 37%;
			margin-left: 7rem;
			border-bottom: 1px solid var(--gray-blue-color);
			z-index: 9;
		}

		@include media(">=desktop", ">=1550px") {
			width: 44%;
		}

		@include media(">=desktop", ">=1750px") {
			width: 50%;
		}

		@include media(">=LGdesktop") {
			width: 53%;
		}
	}
}
